<?xml version="1.0"?>
<launch>

    <group ns="/iiwa">
        <!-- Load joint controller configurations from YAML file to parameter server -->
        <rosparam file="$(find kuka_iiwa_control)/cfg/controllers.yaml" command="load"/>

        <!-- Load the controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="joint_state_controller pos_effort_controller grasp_effort_controller">
            <param name="use_sim_time" type="bool" value="true"/>
        </node>

        <!-- Convert joint states to TF transforms for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen">
            <param name="use_sim_time" type="bool" value="true"/>
        </node>

        <!-- Launch nodes -->
        <node name="hello_world" pkg="kuka_iiwa_control" type="hello_world.py" respawn="false" output="screen" >
            <param name="hz" type="int" value="1"/>
            <param name="use_sim_time" type="bool" value="true"/>
        </node>

    </group>    
</launch>